*:focus {
    outline: none;
}

body {
    background-image: url('../IPA-Game/footer_lodyas.png');
    background-size: auto;
}

#pass {
    /* display: block; */
    /* position: absolute; */
    /* left: 0;
    right: 0;
    bottom: 0;
    margin: auto; */
    margin: 20%;
}

#destinationEntry {
    /* display: block; */
    /* position: absolute; */
    padding-right: 195px;
    padding-bottom: 5px;
    /* left: 28.5%;
    right: 0;
    bottom: 29%;
    margin: auto; */
    margin-left: 25%;
    margin-bottom: 40%;
}

#destinationTest {
    /* display: block; */
    /* position: absolute; */
    padding-right: 195px;
    padding-bottom: 14px;
    /* left: 28.5%;
    right: 0;
    bottom: 43%;
    margin: auto; */
}

#destinationEntry:focus {
    border:3px solid #42B804;
    box-shadow: 0 0 5px blue;
}

#destinationTest:focus {
    border:3px solid #42B804;
    box-shadow: 0 0 5px blue;
}

/* h1 {
    text-align: center;
    margin-top: 400px;
    font-family: 'Noto Serif TC', serif;
    color: white;
} */


